<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ana_ver_hash</key>
	<string>3.0.1.325</string>
	<key>last_st_time</key>
	<string>2017-10-03</string>
	<key>rqd.openuuid</key>
	<string>8F407299-A9E1-4C18-AB25-7833DDDB497A</string>
	<key>user_info_uploaed_day</key>
	<string>2017-10-03</string>
</dict>
</plist>
